# Python List

### 1. Create your own lists otherwise use the List1 = ['a','b','c']  to operate the below Python list  Operations?

### 1. List Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [1]:
l1=[1,2,3,4,'a','b']
l1*2

[1, 2, 3, 4, 'a', 'b', 1, 2, 3, 4, 'a', 'b']

#### 1.B. Concatenation (+):

In [3]:
l2=['great']
l3=['learning']
print(l2+l3)

['great', 'learning']

#### 1.C. Membership:

In [5]:
l4=[1,2,3,4,5,6,100]
if 2 in l4:
    print('yes')
else:
    print('no')

yes

1.d.length:

In [6]:
l5=[1,2,3,4,5,6,7,8,9,10]
print(len(l5))

10

#### 1.E. Iteration:

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
            List1 = [1, 2, 4, 5, 54]
            List2 = [23,54,789,9876,876,532,56]
            List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

# 2.C. max(list):

In [7]:
list1=[1,234,456,987,8888,9999,10000]
print(max(list1))

10000

#### 2.D. min():

In [8]:
list1=[1,234,456,987,8888,9999,10000]
print(min(list1))

1

#### 2.E.list:

In [10]:
str1="great lakes"
print(list(str1))

['g', 'r', 'e', 'a', 't', ' ', 'l', 'a', 'k', 'e', 's']

### 3. Create your own lists to operate the below  thePython List built-in methods?
##### otherwise use below list:
           List = ['white','red', 'blue', 'green','blue','yellow', 'black']

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [13]:
list2 = ['white','red', 'blue', 'green','blue','yellow', 'black']
list2.append('indigo')
print(list2)

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'indigo']

#### 3.B) list.clear():

In [15]:
list3=[1,3,6,8,0,4,7]
list3.clear()
list3

[]

#### 3.C) List.copy()

In [24]:
list4=[5,6,7,8,11,9,10,11,11]
l5=list4.copy()
l5.append(999)
l5

[5, 6, 7, 8, 11, 9, 10, 11, 11, 999]

#### 3. D) list.count(obj):

In [ ]:
l6=[1,2,2,2,2,4,3,5]
l6.count()

#### 3.E) list.extend(seq):

In [27]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.extend(['violet'])
List

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'violet']

#### 3.F) list.index(obj):

In [28]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.index('white')

0

#### 3.G) list.insert(index, obj):

In [30]:
List.insert(5,'orange')
List

['white',
 'red',
 'blue',
 'green',
 'blue',
 'orange',
 'orange',
 'yellow',
 'black']

#### 3.H) list.pop(obj=list[-1]):

In [32]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.pop(-1)

'black'

#### 3.I) list.remove(obj):

In [33]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']

List.remove('red')
List

['white', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3.j) list.reverse():

In [35]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.reverse()
List

['black', 'yellow', 'blue', 'green', 'blue', 'red', 'white']

#### 3.K) list.sort([func]):

In [1]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.sort()
List

['black', 'blue', 'blue', 'green', 'red', 'white', 'yellow']

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
                Tuple2 = (1,4,1,3,4,5,65)

### 1. Tuple Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [3]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
print(Tuple1*2)

('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')

#### 1.B. Concatenation (+):

In [4]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
Tuple2 = (1,4,1,3,4,5,65)
print(Tuple1+Tuple2)

('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 1, 4, 1, 3, 4, 5, 65)

#### 1.C) Membership:

In [5]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
if 'white' in Tuple1:
    print("yes")
else:
    print('no')

yes

#### 1.D) Length:

In [10]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
Tuple2 = (1,4,1,3,4,5,65)
print(len(Tuple1), ',', len(Tuple2))

7 , 7

#### 1.E) Iteration:

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [11]:
Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
print(max(Tuple1))

8765

#### 2.D) min():

In [12]:
Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
print(min(Tuple1))

4

#### 2.E) Tuple:

In [13]:
list1=[1,2,3,4,5,5,6,6,7,7,8]
tuple(list1)

(1, 2, 3, 4, 5, 5, 6, 6, 7, 7, 8)

# Python Set

In [ ]:
#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
        Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
        Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [18]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
print(Set1|Set2)

{1, 3, 4, 5, 6, 7, 8, 9, 6789, 9876, 678, 45, 436, 54, 56, 57, 8765, 65, 787654, 467, 88, 87654, 7654, 876, 887}

#### 1.B. Intersection

In [19]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
print(Set1&Set2)

{4, 5, 6, 7, 8, 9, 876}

#### 1.C. Difference

In [3]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
print(Set1-Set2)
print(Set2-Set1)

{1, 3, 787654, 87654, 436, 9876, 54, 56}
{65, 6789, 678, 7654, 45, 467, 887, 88, 57, 8765}

####  1.D. Symmetric difference:

In [21]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
print(Set1^Set2)

{65, 1, 3, 787654, 6789, 467, 9876, 88, 7654, 678, 87654, 45, 436, 54, 887, 56, 57, 8765}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                           Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	len(dict)     
    B.	str(dict)     
    C.	type(variable)

#### 1.A) len(dict):

In [22]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
len(Dictionary)

3

#### 2.B) str(dict):

In [23]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
str(Dictionary)

"{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}"

#### 1.C) type(variable):

In [28]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
type(Dictionary)

dict

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [31]:
d1={'a':'one','b':'two','c':'three'}
d1.clear()
d1

{}

#### 2.B) dict.copy():

In [44]:
d2={'samsung':15000,'oneplus':30000,'mi':10000}
d3=d2.copy()
d3.update({'motorola': '12000'})
print(d3)
print(d2)

{'samsung': 15000, 'oneplus': 30000, 'mi': 10000, 'motorola': '12000'}
{'samsung': 15000, 'oneplus': 30000, 'mi': 10000}

#### 2.C) dict.fromkeys():

In [4]:
d1={'a':'one','b':'two','c':'three'}
t=('d','e','f')
d1.fromkeys(t,(1,2,3))

{'d': ('1', '2', '3'), 'e': ('1', '2', '3'), 'f': ('1', '2', '3')}

#### 2.D) dict.get(key[, value]) :

In [51]:
d1={'a':'one','b':'two','c':'three'}
print(d1.get('a'))

one

#### 2.E) dict.items()

In [54]:
d2={'samsung':15000,'oneplus':30000,'mi':10000}
d2.items()

dict_items([('samsung', 15000), ('oneplus', 30000), ('mi', 10000)])

#### 2.F) dict.keys() :

In [55]:
d2={'samsung':15000,'oneplus':30000,'mi':10000}
d2.keys()

dict_keys(['samsung', 'oneplus', 'mi'])

#### 2.G) dict.setdefault():

In [5]:
d2={'samsung':15000,'oneplus':30000,'mi':10000}
d2.setdefault('samsung')

15000

In [7]:
d2={}
d2.setdefault('salary',500)
d2

{'salary': 500}

#### 2.H) dict.update():

In [61]:
d2={'samsung':15000,'oneplus':30000,'mi':10000}
d2.update({'apple':50000})
print(d2)

{'samsung': 15000, 'oneplus': 30000, 'mi': 10000, 'apple': 50000}

 #### 2.L)  dict.values():

In [63]:
d2={'samsung':15000,'oneplus':30000,'mi':10000}
d2.values()

dict_values([15000, 30000, 10000])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello"

In [67]:
a=int(input("enter any number : "))
if a==10:
    print("hello")

enter any number : 10
hello

#### 2. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello", else print "Good Bye"

In [ ]:
a=int(input("enter any number : "))
if a==10:
    print("hello")
else:
    print("Good bye")

# While Loop

#### 1. Print Hello World 5 times

In [3]:
i=1
while i<6:
    print("Hello World")
    i=i+1

Hello World
Hello World
Hello World
Hello World
Hello World

# For Loop

#### 1. Take a list [23,1,0,12,45,-1,46], loop through each element and print it

In [77]:
new_list=[23,1,0,12,45,-1,46]
for num in new_list:
    print(num)

23
1
0
12
45
-1
46

#### 2. Take a list [1,2,3,4,5,6,7,8], loop through each element and print it. But, use break to come out of the loop after printing the second element

In [5]:
list2=[1,2,3,4,5,6,7,8]
for num in list2:
    if list2[2]==num:
        break
    print(num)

1
2